<html>
  <head>
    <title>Camaras</title>
  </head>
  <body>
    <div>
      <h1>Nueva sugerencia de contacto</h1>
      <p style="font-weight: bold;">{{name}}</p>
      <p style="font-weight: bold;">{{mail}}</p>
      <p style="font-weight: bold;">{{phone}}</p>
      <p style="font-weight: bold;">{{comment}}</p>
    </div>
  </body>
</html>